MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
NEXT_PUBLIC_APP_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_FROM=
EMAIL_PASS=
EMAIL_USER=
PORT=3000
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
